node-red/flows.json
[{"id":"8a0c0f41.3c76e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7624e586.0d1e7c","type":"ttn uplink","z":"8a0c0f41.3c76e","name":"Sensor","app":"","dev_id":"","field":"","x":70,"y":40,"wires":[["50790e92.db7b5","c2e0060e.d54eb8","806e2712.8c44c8","5a2c76ea.2b9a98","429fd1b7.9e776"]]},{"id":"50790e92.db7b5","type":"debug","z":"8a0c0f41.3c76e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":40,"wires":[]},{"id":"b00f492c.f552b8","type":"debug","z":"8a0c0f41.3c76e","name":"RSSI","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"rssi","x":410,"y":240,"wires":[]},{"id":"c42ffd9.5d4de","type":"debug","z":"8a0c0f41.3c76e","name":"SNR","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"snr","x":410,"y":200,"wires":[]},{"id":"b453ba10.8851c8","type":"debug","z":"8a0c0f41.3c76e","name":"Device","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"device","x":410,"y":80,"wires":[]},{"id":"e240f6d.5c08f08","type":"debug","z":"8a0c0f41.3c76e","name":"Time","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"time","x":410,"y":160,"wires":[]},{"id":"cb887ce4.33a0c","type":"debug","z":"8a0c0f41.3c76e","name":"Frequencia","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"freq","x":430,"y":120,"wires":[]},{"id":"c2e0060e.d54eb8","type":"function","z":"8a0c0f41.3c76e","name":"Metadados","func":"var gateways = msg.metadata.gateways;\n\nreturn {\n  rssi: gateways.map(gw => gw.rssi),\n  snr: gateways.map(gw => gw.snr),\n  device: msg.dev_id,\n  serial: msg.hardware_serial,\n  time: msg.metadata.time,\n  freq: msg.metadata.frequency,\n};","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["cb887ce4.33a0c","b00f492c.f552b8","c42ffd9.5d4de","b453ba10.8851c8","e240f6d.5c08f08"]]},{"id":"806e2712.8c44c8","type":"function","z":"8a0c0f41.3c76e","name":"Payload","func":"return {\n  temp: msg.payload.Temperatura\n};","outputs":1,"noerr":0,"x":240,"y":280,"wires":[["7089d464.9f1e5c"]]},{"id":"7089d464.9f1e5c","type":"debug","z":"8a0c0f41.3c76e","name":"Temperatura","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"temp","x":430,"y":280,"wires":[]},{"id":"5a2c76ea.2b9a98","type":"function","z":"8a0c0f41.3c76e","name":"Tratamento","func":"var gateways = msg.metadata.gateways;\nvar luz = msg.payload.Luminosidade;\n\nif (luz == 0) {\n    msg.payload.Luminosidade = \"Claro\";\n} else {\n    msg.payload.Luminosidade = \"Escuro\";\n}\n\nreturn {\n  rssi: gateways.map(gw => gw.rssi),\n  snr: gateways.map(gw => gw.snr),\n  freq: msg.metadata.frequency,\n  temp: msg.payload.Temperatura,\n  dev: msg.dev_id\n};","outputs":1,"noerr":0,"x":250,"y":340,"wires":[["c3c36008.39595"]]},{"id":"c3c36008.39595","type":"ui_template","z":"8a0c0f41.3c76e","group":"79741fd.3e863e","name":"T1","order":1,"width":"20","height":"3","format":"<style type=\"text/css\">\n.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}\n.tg td{font-family:Arial, sans-serif;font-size:14px;padding:11px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}\n.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:11px 17px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}\n.tg .tg-6jqj{font-weight:bold;font-size:15px;font-family:\"Courier New\", Courier, monospace !important;;border-color:inherit;text-align:center;vertical-align:top}\n.tg .tg-8drl{background-color:#efefef;font-size:15px;font-family:\"Courier New\", Courier, monospace !important;;border-color:inherit;text-align:center;vertical-align:top}\n.tg .tg-5kli{font-size:15px;font-family:\"Courier New\", Courier, monospace !important;;border-color:inherit;text-align:center;vertical-align:top}\n.tg .tg-ug6d{background-color:#f9f9f9;font-size:15px;font-family:\"Courier New\", Courier, monospace !important;;border-color:inherit;text-align:center;vertical-align:top}\n</style>\n<table class=\"tg\">\n  <tr>\n    <th class=\"tg-6jqj\">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Device&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>\n    <th class=\"tg-6jqj\">Temperatura</th>\n    <th class=\"tg-5kli\"><span style=\"font-weight:bold\">SNR</span></th>\n    <th class=\"tg-6jqj\">RSSI</th>\n    <th class=\"tg-5kli\"><span style=\"font-weight:bold\">Frequência</span></th>\n  </tr>\n  <tr>\n    <td class=\"tg-8drl\">{{msg.dev}}</td> \n    <td class=\"tg-ug6d\">{{msg.temp}}</td>\n    <td class=\"tg-ug6d\">{{msg.snr}}</td>\n    <td class=\"tg-ug6d\">{{msg.rssi}}</td>\n    <td class=\"tg-ug6d\">{{msg.freq}}Hz</td>\n  </tr>\n</table>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":410,"y":340,"wires":[[]]},{"id":"429fd1b7.9e776","type":"ui_gauge","z":"8a0c0f41.3c76e","name":"","group":"41a8ff88.d1e55","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperatura atual","label":"°C","format":"{{msg.payload.Temperatura}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"34","x":270,"y":400,"wires":[]},{"id":"79741fd.3e863e","type":"ui_group","z":"","name":"Group 1","tab":"508476c7.765638","disp":false,"width":"20","collapse":false},{"id":"41a8ff88.d1e55","type":"ui_group","z":"","name":"Group 2","tab":"508476c7.765638","order":2,"disp":false,"width":"10","collapse":false},{"id":"508476c7.765638","type":"ui_tab","z":"","name":"TTN - Controle de temperatura","icon":"dashboard","disabled":false,"hidden":false}]